@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
 margin: 0px;
 padding: 0px;
 font-family: 'Poppins',sans-serif;
}


.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(147, 156, 255);
}

.header2{
    padding-left: 30px;
}

li{
    display: inline;
    padding: 40px;
}

.profile{
    display: inline;
    align-self: center;
}
.view{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.view-txt{
    font-size: 25px;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.view-txt h2{
    align-self: center;
}

.view-img{
    width: 30%;
    background-image: url(/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

footer{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(147, 156, 255);
}

@media screen and (max-width:500px) {
    .view {
        flex-direction: column;
    }
}