*{
 margin: 0px;
 padding: 0px;
}

.header{
    padding: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.header2{
    padding-left: 30px;
}

li{
    display: inline;
    padding: 50px;
}

.profile{
    display: inline;
    align-self: center;
}
.image{
    width: 200px;
    
}